body {
    background: black;
    /* background: -moz-linear-gradient(to top, #222222, #333333);  
    background: -webkit-linear-gradient(to top, #222222, #333333); */
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

/* body {
    background-color: blue;
} */

/* .wrapper {
    background: linear-gradient(to top, #222222, #333333);
    background: -moz-linear-gradient(to top, #222222, #333333);  
    background: -webkit-linear-gradient(to top, #222222, #333333);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    height: 100vh;
} */

#top-level {
    padding-top: 2%;
    margin-bottom: 5%;
}

#logo {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

img {
    height: 35px;
    margin-bottom: 50px;
}

#header-text {
    font-size: 40px;
    text-align: center;
}

#header-text-2{
    margin-top: -2%;
    margin-bottom: 5%;
}

#body-text {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#body-text span{
    font-style: italic;
    color: #2F80ED;
}

.red-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #EB5757;
    border: 1px solid #EB5757;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    margin-top: 10%;
}

#third-button {
    margin-bottom: 5%;
}

.red-button:hover {
    text-decoration: none;
    color: #EB5757;
}

.red-button:active {
    text-decoration: none;
}

.blue-button:hover {
    text-decoration: none;
    color: #fff;
}

.blue-button:active {
    text-decoration: none;
}

.blue-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    background-color: #2F80ED;
    color: #fff;
    margin-top: 10%;
}

/* a:hover {
    color: inherit;  
}

a:active {
    color: inherit;
    text-decoration: none;
} */


@media only screen and (max-width: 992px) {
    #logo {
        font-size: 20px;
    }

    .red-button, .blue-button {
        font-size: 14px;
    }

    #header-text {
        font-size: 35px;
    }
}

@media only screen and (max-width: 671px) {
    .red-button, .blue-button {
        font-size: 18px;
    }
}

/* @media only screen and (max-width: 576px) {
    #top-level {
        text-align: center;
    }

} */