.modal-content {
    background-color: #111111;
    color: white;
}

body {
    background: black;
    /* background: -moz-linear-gradient(to top, #222222, #333333);  
    background: -webkit-linear-gradient(to top, #222222, #333333); */
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

/* body {
    background-color: blue;
} */

/* .wrapper {
    background: linear-gradient(to top, #222222, #333333);
    background: -moz-linear-gradient(to top, #222222, #333333);  
    background: -webkit-linear-gradient(to top, #222222, #333333);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    height: 100vh;
} */

#top-level {
    padding-top: 2%;
    margin-bottom: 5%;
}

#logo {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

img {
    height: 35px;
    margin-bottom: 50px;
}

#mail-img {
    cursor: pointer;
}

#mail-details {
    display: none;
}

#header-text {
    font-size: 40px;
    text-align: center;
}

#header-text-2{
    margin-top: -2%;
    margin-bottom: 5%;
}

#body-text {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#body-text span{
    font-style: italic;
    color: #2F80ED;
}

/* .red-button {
    
} */

#port-btn {
    margin-bottom: 5%;
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    color: #EB5757;
    border: 1px solid #EB5757; 
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    margin-top: 10%;
    transition: background-color 0.4s, color 0.4s;
    text-decoration: none;
}


#port-btn:hover {
    color: #fff;
    background-color: #EB5757;
    text-decoration: none;
}

#port-btn:active {
    text-decoration: none;
}

#cv-btn {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    border: 1px solid #2F80ED; 
    color: #2F80ED;
    margin-top: 10%;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
}

#cv-btn:hover {
    border: 0px; 
    background-color:  #2F80ED;
    color: #fff;
    text-decoration: none;
}

#cv-btn:active {
    text-decoration: none;
}

.bttn:focus {
    outline: none;
}


a {
    text-decoration: none;
    color:inherit;
}

a:active {
    text-decoration: none;
    color:inherit;
}

a:hover {
    color: #EB5757;
}

.modal-body table tr th {
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 20px;
}

.modal-body table tr td{
    padding-bottom: 20px;
    font-size: 14px;
}

@media only screen and (max-width: 992px) {
    #logo {
        font-size: 20px;
    }

    .red-button, .blue-button {
        font-size: 14px;
    }

    #header-text {
        font-size: 35px;
    }
}

@media only screen and (max-width: 769px) {
    .red-button, .blue-button {
        font-size: 18px;
    }

    img {
        height: 25px;
    }
}

@media only screen and (max-width: 576px) {
    /* #logo {
        text-align: center;
    }

    #nav-items {
        text-align: center;
    } */

    #top-level {
        text-align: center;
    }

    img {
        height: 35px;
    }
}