.wrapper {
    background: linear-gradient(to top, #222222, #333333);
    background: -moz-linear-gradient(to top, #222222, #333333);  
    background: -webkit-linear-gradient(to top, #222222, #333333);
    color: #ffffff;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

#top-level {
    padding-top: 2%;
}

#logo {
    font-size: 25px;
    color: #fff;
}

img {
    height: 35px;
}



#header-text {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

#header-text-2{
    margin-top: -2%;
    margin-bottom: 5%;
}

#body-text {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#body-text span{
    font-style: italic;
    color: #2F80ED;
}

#third-level {
    margin-top: 10%;
}

.red-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #EB5757;
    border: 1px solid #EB5757;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.blue-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    background-color: #2F80ED;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}
